* {
    margin: 0px;
    box-sizing: border-box;



}

body {
    background-color: var(--color3);
    ;
}

header {
    position: relative;
    z-index: 1;
}

h1 {
    background-color: var(--color5);
    font-size: 4em;
    color: var(--color1);
    filter: drop-shadow(4px 4px 4px var(--color5))
}

nav>a {
    
    color: var(--color1);
    margin: 0 0 90px 0;
    font-size: 1em;
    filter: drop-shadow(1px 1px 1px var(--color5));
    background-color: var(--color4);
    padding: 5px;
    border-radius: 10px;
}

nav a {
    vertical-align: middle;

}

.banner-img {
    width: 100%;
    height: auto;
    max-height: 340px;
    overflow: hidden;
    object-fit: cover;
    object-position: center 35%;

}


.logo {
    position: absolute;
    z-index: 2;
    top: 480px;
    left: 5px;
    filter: drop-shadow(4px 4px 4px var(--color5))
}

.title {
    padding: 2px;
    background-color: black;
    color: var(--color2);
    text-align: center;
    font-size: 2em;
    width: auto;
    height: 50px;
}

nav,
aside {
    display: inline-block;
    font-size: 40px;
    margin: 40px 10px;
    

}

a[href="#"] {
    text-decoration: none;
    background-color: var(--color2);
}

nav {
    position: absolute; 
    right: 30px;
    top: 0px;
    z-index: 2;   
}

aside {
    position: absolute;
    width: 800px;
    left: 350px;
    top: 450px;
}

#email {
    text-decoration: none;
    color: var(--color1);
    filter: drop-shadow(1px 1px 1px var(--color5));
}

.photo {
    display: block;
    position: absolute;
    top: 490px;
    right: 10%;
    width: 500px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px var(--color5);
    transition: transform 2s ease-in-out;
}

.photo:hover {
    transform: perspective(500px) rotatey(20deg);
}



:root {
    --color1: #f8e12e;
    --color2: #577BC1;
    --color3: #344CB7;
    --color4: #000957;
    --color5: #000000;
}