* {
    margin: 0px;
    box-sizing: border-box;
    
    

}

body {
    background-color: var(--color3);
    ;
}

header {
    position: relative;
    z-index: 1vmax;
}

h1 {
    position: absolute;
    z-index: 2;
    top:140px;
    left:300px;
    font-size: 4em;
    color: var(--color1);
    filter: drop-shadow( 4px 4px 4px var(--color5))
}

a {
    display: block;
    color: var(--color1);
    margin: 20px 0;
    font-size: 1em;

}

nav a {
    vertical-align: middle;

}

.banner-img {
    width: 100%;
    height: auto;
    max-height: 340px;
    overflow: hidden;
    object-fit: cover;
    object-position: center 35%;

}


.logo {
    position: absolute;
    z-index: 2;
    top: 200px;
    right: 390px;
    

    filter: drop-shadow( 4px 4px 4px var(--color5))
}

.title {
    padding: 2px;
    background-color: black;
    color: var(--color2);
    text-align: center;
    font-size: 2em;
    width: auto;
    height: 50px;
}



nav, aside {
    display: inline-block;    
}

nav {
    margin-left: 10px;
    width: 300px;
}

.photo {
    display: block;
    position: absolute;
    top: 75%;
    right: 10%;
    width: 500px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px var(--color5) ;
    transition: transform 2s ease-in-out;
}

.photo:hover {
    transform: perspective(500px) rotatey(20deg);
}



:root{
    --color1:#f8e12e;
    --color2:#577BC1;
    --color3:#344CB7;
    --color4:#000957;
    --color5:#000000;


}
