* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--color4);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color1);
    border-radius: 20px;
    border: 3px solid var(--color5);
}

body {
    background-color: var(--color3);
    width: 100vw;
    height: 100vh;
    ;
}

h1 {
    width: 10   0%;
    font-size: 4vw ;
    text-align: center;
    color: var(--color4);
    filter: drop-shadow(4px 4px 4px var(--color5));
    text-shadow:
        -1px 0px 0px var(--color5),
        1px 0px 0px var(--color5),
        0px -1px 0px var(--color5),
        0px 1px 0px var(--color5);
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff50;
    
}

h1:hover {
    transform: scale(1.25) translate(1px, -1px);
    transition: 2s;
}

nav>a {
    display: inline-block;
    color: var(--color1);
    margin: 8px;
    font-size: 1em;
    filter: drop-shadow(1px 1px 1px var(--color5));
    text-decoration: none;

}

nav a {
    vertical-align: middle;

}

a:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 1s;
}

a {
    text-decoration: none;
    color: var(--color1);
    filter: drop-shadow(1px 1px 1px var(--color5));
}

header {
    display:flex;
    justify-content: flex-start;
}

.banner-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("/asset/img/design1_image2.jpg");
    width: 100%;
    object-fit: cover;
    object-position: center 35%;

}

.logo {
    width: 15vw;
    filter: drop-shadow(4px 4px 4px var(--color5))
}



.title {
    padding: 2px;
    background-color: black;
    color: var(--color2);
    text-align: center;
    
    width: auto;
    
}

nav {
    display: inline-block;
    font-size: 30px;

}

.miniNav {
    display: none;
}

a[href="#"] {
    color: var(--color5);
}


aside {
    align-self: flex-start;
    margin: 40px 20px 20px 20px;
    width: 1100px;
    padding: 20px;
    border-radius: 20px;
    background-color: #c4d6b07e;
    box-shadow: 4px 4px 10px var(--color5);
    font-size: 30px;
}

.photo {
    margin: 40px 10px 10px 10px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px var(--color5);
    transition: transform 1s ease-in-out;
}

/* .pics {
    margin: 10% 10% 10% 10%;
} */

.photo:hover {
    transform: perspective(500px) rotatey(-20deg);
}

table,
th,
td {    
    border-collapse: collapse;
}

table {
    background-image: url("/asset/img/player.png");
    background-position: -8% 155%;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 30%;
}

th,
td {
    text-align: center;
}

.times {
    text-align: right;
}

tr:nth-child(even) {
    background-color: var(--color3);
}

.hover-row:hover td:not(.date) {
    background-color: var(--color4);
}

.snoopy-box {
    display: flex;     
    
}

.snoopy {
    width: auto;
    margin:20px;
    animation: move 5s ease-in-out alternate infinite;
}


@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(80vw);
    }
}

.player:hover {
    transform: scale(1.1);
    transition: 2s;
}

.video {
    margin: 40px 0 40px 20px;
    border: 0px;

    border-radius: 20px;
    box-shadow: 4px 4px 10px var(--color5);
}

h4,
h5,
h6 {
    margin: 10px 0;
    align-self: center;
}

.content {
    display: flex;
    justify-content: center;
}

.content2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

table {
    margin: 0 0 30px 0;
}

caption {
    text-align: start;
}

.rules {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
}

.subtitle {
    align-self: flex-start;
    margin: 35px 0px 10px 0px;
}

li {
    margin: 15px 0
}

@media screen and (max-width: 663px) {
    nav{
        display: none;
    }
    
    .miniNav {
        display: flex;
        justify-content: center;        
    }
}


.miniNav>select {
    height: 40px;
    width: 100%;
    background-color: var(--color3);
    text-align: center;
    font-size: 30px;
}

option {
    font-size: 30px;
}

.footer {
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

:root {
    --color1: #C4D6B0;
    --color2: #477998;
    --color3: #F64740;
    --color4: #A3333D;
    --color5: #291f1e;
}