* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: var(--color3);
    ;
}

header {
    position: relative;
    z-index: 1;
}

h1 {
    position: absolute;
    z-index: 2;
    top: 140px;
    left: 350px;
    font-size: 4em;
    color: var(--color4);
    filter: drop-shadow(4px 4px 4px var(--color5));
    text-shadow:
        -1px 0px 0px var(--color5),
        1px 0px 0px var(--color5),
        0px -1px 0px var(--color5),
        0px 1px 0px var(--color5);
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff50;
    transition: 2s;
}

h1:hover {
    transform: scale(1.25) translate(1px, -1px);

}

nav>a {
    display: inline-block;
    color: var(--color1);
    margin: 8px;
    font-size: 1em;
    filter: drop-shadow(1px 1px 1px var(--color5));
    text-decoration: none;

}

nav a {
    vertical-align: middle;

}

.banner-img {
    background-image: url("/asset/img/design1_image2.jpg");
    width: 100%;
    height: auto;
    max-height: 340px;
    overflow: hidden;
    object-fit: cover;
    object-position: center 35%;

}


.logo {
    position: absolute;
    z-index: 2;
    top: 70px;
    left: 10px;
    filter: drop-shadow(4px 4px 4px var(--color5))
}

.title {
    padding: 2px;
    background-color: black;
    color: var(--color2);
    text-align: center;
    font-size: 2em;
    width: auto;
    height: 50px;
}

nav,
aside {
    display: inline-block;
    font-size: 40px;

}

a[href="#"] {
    color: var(--color5);
}

nav {
    position: absolute;
    top: 383px
}

aside {
    position: absolute;
    width: 1100px;
    left: 5px;
    top: 460px;
    padding: 20px;
    border-radius: 20px;
    background-color: #c4d6b07e;
    box-shadow: 4px 4px 10px var(--color5);
}

#email {
    text-decoration: none;
    color: var(--color1);
    filter: drop-shadow(1px 1px 1px var(--color5));
}

.photo {
    display: block;
    position: absolute;
    top: 460px;
    right: 10%;
    width: 500px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px var(--color5);
    transition: transform 2s ease-in-out;
}

.photo:hover {
    transform: perspective(500px) rotatey(-20deg);
}

table,
th,
td {
    border: 3px solid var(--color4);
    border-collapse: collapse;
}

th,
td {
    text-align: center;
}

.times {
    text-align: right;
}

tr:nth-child(even) {
    background-color: var(--color3);
}

tr:hover {
    background-color: var(--color1);
}

.snoopy {
    z-index: 3;
    position: absolute;
    right: 260px;
    bottom: 640px;
    animation: move 5s ease-in-out infinite;
}
@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(300px);
    }

    100% {
        transform: translateX(0);
    }
}

:root {
    --color1: #C4D6B0;
    --color2: #477998;
    --color3: #F64740;
    --color4: #A3333D;
    --color5: #291f1e;
}